@{
    ViewBag.Title = "About Proj6";
}
@{
    ViewBag.Message = "Get Stuff Done.  Have Fun.  Win.";
}

<h2 style="color: #ffffff">@ViewBag.Title.</h2>
<h3 style="color: #ec6a35">@ViewBag.Message</h3>
<hr/>
<br/>
<h3 style="color: #ffffff"> Mission Statement </h3>
<p style="color: #ffffff">
        At the core, we share the desire to help others.  We know what has worked for us and we try to share that when we see others struggling.
    We have set out to develop a web based tool that will help others be successful so that they can feel good about themselves, track their progress, and stay motivated
    to finish their projects.  We strive to be continually learn in a fun and respectful environment where there is always food around to munch on.
    
</p>
<br />
<h3 style="color: #ffffff"> Devin Gleason Lambert </h3>
<p style="color: #ffffff">
        I am a technologist at heart, a deep love for technology is how I got here. I have been dismantling hardware and fixing software since 
    I was ten. I spent the last several years in Help desk related positions and decided I wanted something more challenging and left IT 
    to move onto software. I have finished my computer science coursework and am now working on building a portfolio around the .NET 
    framework and networking with other developers and am falling in love with the field all over again.

</p>
<br />
<h3 style="color: #ffffff"> Beth Van Belle </h3>
<p style="color: #ffffff">


</p>
<h3 style="color: #ffffff"> Alberto D Beltran </h3>
<p style="color: #ffffff">


</p>
