@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Computer Science Department
    Salem State College
    Meier Hall 200
    352 lafayette Street<br />
    Salem, MA 01970<br />
    <abbr title="Phone">P:</abbr>
    978-542-6000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">d_gleasonLambert@salemstate.edu, beth.van.belle@salemstate.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">A_Beltran@salemstate.edu</a>
</address>