@{
    ViewBag.Title = "Proj6 Team";
}

@{
    ViewBag.Message = "Get Stuff Done.  Have Fun.  Win.";
}
<h2 style="color: #ffffff">@ViewBag.Title.</h2>
<h3 style="color: #ec6A35">@ViewBag.Message</h3>
<hr />
<br />
<address style="color: #ffffff">
    Computer Science Department<br />
    Salem State University<br />
    Meier Hall 200 <br />
    352 lafayette Street<br />
    Salem, MA 01970<br />
    <abbr title="Phone">P:</abbr>
    978-542-6000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:D_GleasonLambert@salemstate.edu, mailto:B_VanBelle@salemstate.edu">D_GleasonLambert@salemstate.edu, B_VanBelle@salemstate.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:A_Beltran@salemstate.edu">A_Beltran@salemstate.edu</a>
</address>