@model IEnumerable<Planit.Core.Project>

<table class="table table-condensed" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        

        <th></th>
    </tr>

    @{
        bool Overdue = false;
        bool Today = false;
        bool Tomorrow = false;
        bool ThisWeek = false;
        bool NextWeek = false;
        bool LaterOn = false;
    }

    @foreach (var item in ViewBag.BAL.TraverseByDueDate())
    {
                  if (item.DueDate < DateTime.Today && Overdue == false)
                        {
                            Overdue = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit;font-size:smaller;">Overdue</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate == DateTime.Today && Today == false)
                        {
                            Today = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Today</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate == DateTime.Today.AddDays(1) && Tomorrow == false)
                        {
                            Tomorrow = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Tomorrow</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate >= DateTime.Today.AddDays(2) && item.DueDate <= DateTime.Today.AddDays(7) && ThisWeek == false)
                        {
                            ThisWeek = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">This Week</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                        if (item.DueDate > DateTime.Today.AddDays(7) && item.DueDate <= DateTime.Today.AddDays(14) && NextWeek == false)
                        {
                            NextWeek = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Next Week</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }

                         if (item.DueDate > DateTime.Today.AddDays(14) && LaterOn == false)
                        {
                            LaterOn = true;
                            <tr style="background-color:lightgray">
                                <th style="width: inherit; font-size: smaller;">Later on</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
        
        <tr>
            
            <td>
                <a href='@Url.Action("Details", "Project", new { id = item.ID })'>@item.Title</a>
            </td>
            
        </tr>
    }

</table>