@model IEnumerable<Planit.Core.Project>

<table class="table table-condensed" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        
        

        <th></th>
    </tr>

    @{
        bool Overdue = false;
        bool Today = false;
        bool Tomorrow = false;
        bool ThisWeek = false;
        bool NextWeek = false;
        bool LaterOn = false;
    }

    @foreach (var item in Model)
    {
        if(item.DueDate < DateTime.Today && Overdue == false)
                        {
                            Overdue = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit">Overdue</th>
                            </tr>
                        }
                        
                        if(item.DueDate == DateTime.Today && Today == false)
                        {
                            Today = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit">Today</th>
                            </tr>
                        }

                        if (item.DueDate == DateTime.Today.AddDays(1) && Tomorrow == false)
                        {
                            Tomorrow = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit">Tomorrow</th>
                            </tr>
                        }
                        
                        if (item.DueDate == DateTime.Today.AddDays(2) && ThisWeek == false)
                        {
                            ThisWeek = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit">This Week</th>
                            </tr>
                        }
                        
                        if (item.DueDate == DateTime.Today.AddDays(7) && NextWeek == false)
                        {
                            NextWeek = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit">Next Week</th>
                            </tr>
                        }
                        
                        if (item.DueDate > DateTime.Today.AddDays(7) && LaterOn == false)
                        {
                            LaterOn = true;
                            <tr style="background-color:lightgray">
                                <th style="width:inherit">Later on</th>
                            </tr>
                        }
        
        <tr>
            
            <td>

                @Html.DisplayFor(modelItem => item.Title)

            </td>
            
        </tr>
    }

</table>